# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# On *NIX systems, the literal file 'cf-terraforming' is generated through 'make build'
# but we do not want to prevent directories that contain 'cf-terraforming' in their names
/cf-terraforming
!*/cf-terraforming

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.idea/

*.terraform
*.terraform.lock.hcl

# ignore for testing locally
main.tf