---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/gateway/lists
    method: GET
  response:
    body: |
      {
        "errors": [],
        "messages": [],
        "result": [
          {
            "count": 1,
            "created_at": "2014-01-01T05:20:00.12345Z",
            "description": "we like domains here",
            "id": "971fc4e8-388e-4ab9-b377-16430c0fc018",
            "name": "STUFF TO DO WITH DOMAINS",
            "type": "DOMAIN",
            "updated_at": "2014-01-01T05:20:00.12345Z"
          }
        ],
        "success": true,
        "result_info": {
          "count": 1,
          "page": 1,
          "per_page": 20,
          "total_count": 2000
        }
      }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/gateway/lists/971fc4e8-388e-4ab9-b377-16430c0fc018/items?page=1&per_page=50
    method: GET
  response:
    body: |
      {
        "result": [
          {
            "value": "example.com",
            "created_at": "2024-01-11T22:57:26Z"
          }
        ],
        "success": true,
        "errors": [],
        "messages": [],
        "result_info": {
          "page": 1,
          "per_page": 50,
          "count": 15,
          "total_count": 15,
          "total_pages": 1
        }
      }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""