---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/rulesets
      method: GET
    response:
      body: |
        {
          "result": [
            {
              "id": "a6905ff86d3844cebc1a88dd80c659e7",
              "name": "Bot Fight Mode for Likely Bots",
              "description": "",
              "source": "firewall_managed",
              "kind": "managed",
              "version": "4",
              "last_updated": "2021-07-01T16:59:14.386598Z",
              "phase": "http_request_firewall_managed"
            },
            {
              "id": "48ba18287c544bd7bdbe842a294f1ae2",
              "name": "Bot Fight Mode for Definite Bots",
              "description": "",
              "source": "firewall_managed",
              "kind": "managed",
              "version": "4",
              "last_updated": "2021-07-01T16:59:17.970712Z",
              "phase": "http_request_firewall_managed"
            },
            {
              "id": "4c971a697dd2499394[...]
  - request:
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/rulesets/4c971a697dd249939460f4520dcd7184
      method: GET
    response:
      body: |
        {
          "result": {
            "id": "4c971a697dd249939460f4520dcd7184",
            "name": "zone",
            "description": "",
            "source": "firewall_managed",
            "kind": "zone",
            "version": "2",
            "rules": [
              {
                "action": "execute",
                "action_parameters": {
                  "id": "efb7b8c949ac4650a09736fc376e9aee",
                  "version": "latest",
                  "overrides": {
                    "rules": [
                      {
                        "id": "5de7edfa648c4d6891dc3e7f84534ffa",
                        "action": "block"
                      },
                      {
                        "id": "d52aa57408a144afa35e0fd96e3897dc",
                        "action": "block"
                      },
                      {
                        "id": "7994335d116849f7a0ab6b771d1d0db7",
                        "action": "block"
                    [...]
  - request:
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/rulesets/4814384a9e5d4991b9815dcfc25d2f1f
      method: GET
    response:
      body: |
        {
          "result": {
            "id": "4814384a9e5d4991b9815dcfc25d2f1f",
            "name": "zone",
            "description": "",
            "source": "firewall_managed",
            "kind": "zone",
            "version": "2",
            "rules": [
              {
                "id": "d189267a8dc943769d0000c3dcb400eb",
                "version": "1",
                "action": "skip",
                "expression": "(http.request.method eq \"POST\" and http.request.uri.path eq \"/api/v1/identity\")",
                "description": "Bypass managed OWSAP SQL Injection rules for /api/v1/identity",
                "last_updated": "2023-05-12T08:23:03.177093Z",
                "ref": "d189267a8dc943769d0000c3dcb400eb",
                "enabled": true,
                "logging": {
                  "enabled": true
                },
                "action_parameters": {
                  "rules": {
                    "4814384a9e5d4991b9815dcfc25d2f1f": [
                      "37da7855d2f94f69865365d894a556a4",
                      "6afe6795ee6a48d6a1dfe59255395a78",
                      "5a6f5a57cde8428ab0668ce17cdec0c8",
                      "5e4903d6afa841c9b88b96203297003f",
                      "2380cd409b604c2a9273042f3eb29c4e",
                      "f5aebedc99a14c8d9e8cfa2ce5f94216",
                      "edf8c37cc81747d382690b3c77e82ce4",
                      "1129dfb383bb42e48466488cf3b37cb1"
                    ]
                  }
                }
              }
            ],
            "last_updated": "2021-09-03T06:42:41.341405Z",
            "phase": "http_request_firewall_managed"
          },
          "success": true,
          "errors": [],
          "messages": []
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: ""