---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/api_gateway/configuration?properties=auth_id_characteristics
    method: GET
  response:
    body: |
      {
        "result": {
          "auth_id_characteristics": [
            { "type": "header", "name": "test-header" },
            { "type": "cookie", "name": "test-cookie" }
          ]
        },
        "success": true,
        "errors": null,
        "messages": null
      }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""