---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/settings
    method: GET
  response:
    body: |
      {
        "result": [
          {
            "id": "0rtt",
            "value": "off",
            "modified_on": null,
            "editable": true
          },
          {
            "id": "advanced_ddos",
            "value": "on",
            "modified_on": null,
            "editable": false
          },
          {
            "id": "always_online",
            "value": "on",
            "modified_on": null,
            "editable": true
          },
          {
            "id": "always_use_https",
            "value": "off",
            "modified_on": null,
            "editable": true
          },
          {
            "id":[...]
