---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/firewall/ua_rules?page=1&per_page=100
      method: GET
    response:
      body: |
        {
          "result":[
            {
              "id":"23a37dba8a9b410f9338bf2efb5925c3",
              "paused":false,
              "description":"My description 1",
              "mode":"js_challenge",
              "configuration":{
                "target":"ua",
                "value":"Chrome"
              }
            }
          ],
          "success":true,
          "errors":[],
          "messages":[],
          "result_info":{
            "page":1,
            "per_page":25,
            "count":1,
            "total_count":1,
            "total_pages":1
          }
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: ""
