---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/spectrum/apps
    method: GET
  response:
    body: |
      {
        "success": true,
        "errors": [],
        "messages": [],
        "result": [
          {
            "id": "ea95132c15732412d22c1476fa83f27a",
            "protocol": "tcp/22",
            "dns": {
              "type": "CNAME",
              "name": "ssh.example.com"
            },
            "origin_direct": [
              "tcp://192.0.2.1:22"
            ],
            "proxy_protocol": "off",
            "ip_firewall": true,
            "tls": "full",
            "edge_ips": {
              "type": "static",
              "ips": ["198.51.100.1"]
            },
            "traffic_type": "direct",
            "argo_smart_routing": true,
            "created_on": "2014-01-02T02:20:00Z",
            "modified_on": "2014-01-02T02:20:00Z"
          }
        ]
      }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
