---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
        - application/json
    url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/filters?page=1&per_page=50
    method: GET
  response:
    body: |
      {
        "success": true,
        "errors": [],
        "messages": [],
        "result": [
          {
            "id": "372e67954025e0ba6aaa6d586b9e0b61",
            "expression": "(http.request.uri.path ~ \".*wp-login.php\" or http.request.uri.path ~ \".*xmlrpc.php\") and (http.user_agent contains \"${jndi\" or \"%{other}\") and ip.addr ne 172.16.22.155",
            "paused": false,
            "description": "Restrict access from these browsers on this address range.",
            "ref": "FIL-100"
          }
        ],
        "result_info": {
         "page": 1,
          "per_page": 100,
          "count": 1,
          "total_count": 1,
          "total_pages": 1
        }
      }
    headers:
      Content-Type:
        - application/json
    status: 200 OK
    code: 200
    duration: ""

