---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/load_balancers/pools
    method: GET
  response:
    body: |
      {
        "success": true,
        "errors": [],
        "messages": [],
        "result": [
          {
            "id": "17b5962d775c646f3f9725cbc7a53df4",
            "created_on": "2014-01-01T05:20:00.12345Z",
            "modified_on": "2014-01-01T05:20:00.12345Z",
            "description": "Primary data center - Provider XYZ",
            "name": "primary-dc-1",
            "enabled": false,
            "minimum_origins": 2,
            "monitor": "f1aba936b94213e5b8dca0c0dbf1f9cc",
            "check_regions": [
              "WEU",
              "ENAM"
            ],
            "origins": [
              {
                "name": "app-server-1",
                "address": "0.0.0.0",
                "enabled": true,
                "weight": 0.56,
                "header": {
                  "Host": [
                    "example.com"
                  ]
                }
              }
            ],
            "notification_email": "someone@example.com,sometwo@example.com",
            "notification_filter": {
              "origin": {
                "disable": false,
                "healthy": null
              },
              "pool": {
                "disable": false,
                "healthy": null
              }
            }
          }
        ]
      }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
