---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/custom_hostnames/fallback_origin
    method: GET
  response:
    body: |
      {
        "errors": [],
        "messages": [],
        "result": {
          "created_at": "2020-08-17T19:16:43.006255Z",
          "origin": "fallback-origin.jtwuheolsi.terraform.cfapi.net",
          "status": "active",
          "updated_at": "2025-02-20T06:08:29.740915Z"
        },
        "success": true
      }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
