---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        X-Stainless-Arch:
          - arm64
        X-Stainless-Lang:
          - go
        X-Stainless-Os:
          - MacOS
        X-Stainless-Package-Version:
          - 4.0.0
        X-Stainless-Retry-Count:
          - "0"
        X-Stainless-Runtime:
          - go
        X-Stainless-Runtime-Version:
          - go1.23.5
      url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/teamnet/routes
      method: GET
    response:
      body: |
        {
          "errors": [],
          "messages": [],
          "result": [
            {
              "comment": "lfvacdwosi-updated",
              "created_at": "2024-10-28T00:28:53.403054Z",
              "deleted_at": "2024-10-28T00:28:58.605542Z",
              "id": "b2dab005-dc24-4538-a923-fce94e8f52f5",
              "network": "10.0.0.10/32",
              "tun_type": "cfd_tunnel",
              "tunnel_id": "cafe521e-f196-4b7d-a3b2-4d35aca0a679",
              "tunnel_name": "lfvacdwosi",
              "virtual_network_id": "59c65fed-41cd-4d00-a861-a1bd3b90a32f",
              "virtual_network_name": "my-tf-vnet-for-pool-bcyrazmwhb"
            },
            {
              "comment": "hcknstucjx",
              "created_at": "2024-10-28T00:26:11.767934Z",
              "deleted_at": "2024-10-28T00:26:13.473893Z",
              "id": "4246c628-9d8e-451f-b247-a1d780837fc9",
              "network": "10.0.0.10/32",
              "tun_type": "cfd_tunnel",
              "tunnel_id": "6f39baa8-ba88-4e79-ae11-0a93f107bb7e",
              "tunnel_name": "hcknstucjx",
              "virtual_network_id": "59c65fed-41cd-4d00-a861-a1bd3b90a32f",
              "virtual_network_name": "my-tf-vnet-for-pool-bcyrazmwhb"
            }            
          ],
          "result_info": {
            "count": 2,
            "page": 1,
            "per_page": 1000,
            "total_count": 2
          },
          "success": true
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: ""