---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        X-Stainless-Arch:
          - arm64
        X-Stainless-Lang:
          - go
        X-Stainless-Os:
          - MacOS
        X-Stainless-Package-Version:
          - 4.0.0
        X-Stainless-Retry-Count:
          - "0"
        X-Stainless-Runtime:
          - go
        X-Stainless-Runtime-Version:
          - go1.23.5
      url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/ai-search/instances
      method: GET
    response:
      body: |
        {
          "errors": [],
          "messages": [],
          "result": [
            {
              "id": "my-instance",
              "cache": true,
              "cache_threshold": "close_enough",
              "cache_ttl": 172800,
              "chunk": true,
              "chunk_overlap": 10,
              "chunk_size": 256,
              "created_at": "2025-06-15T10:30:00.000Z",
              "fusion_method": "rrf",
              "max_num_results": 10,
              "modified_at": "2025-06-15T10:30:00.000Z",
              "paused": false,
              "reranking": false,
              "rewrite_query": false,
              "score_threshold": 0.4,
              "summarization": false,
              "sync_interval": 21600
            }
          ],
          "result_info": {
            "count": 1,
            "page": 1,
            "per_page": 100,
            "total_count": 1
          },
          "success": true
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: ""
