---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        X-Stainless-Arch:
          - arm64
        X-Stainless-Lang:
          - go
        X-Stainless-Os:
          - MacOS
        X-Stainless-Package-Version:
          - 4.0.0
        X-Stainless-Retry-Count:
          - "0"
        X-Stainless-Runtime:
          - go
        X-Stainless-Runtime-Version:
          - go1.23.5
      url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/managed_headers
      method: GET
    response:
      body: |
        {
          "errors": [],
          "messages": [],
          "result": {
            "managed_request_headers": [
              {
                "enabled": false,
                "has_conflict": false,
                "id": "add_bot_protection_headers"
              }           
            ],
            "managed_response_headers": [
              {
                "enabled": false,
                "has_conflict": false,
                "id": "remove_x-powered-by_header"
              }              
            ]
          },
          "success": true
        }
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: ""
