---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        X-Stainless-Arch:
          - arm64
        X-Stainless-Lang:
          - go
        X-Stainless-Os:
          - MacOS
        X-Stainless-Package-Version:
          - 4.0.0
        X-Stainless-Retry-Count:
          - "0"
        X-Stainless-Runtime:
          - go
        X-Stainless-Runtime-Version:
          - go1.23.5
      url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/devices/policies
      method: GET
    response:
      body: |
        {
          "errors": [],
          "messages": [],
          "result": [
              {
                "allow_mode_switch": true,
                "allow_updates": true,
                "allowed_to_leave": true,
                "auto_connect": 0,
                "captive_portal": 5,
                "default": false,
                "description": "xocmddmeyz",
                "disable_auto_fallback": true,
                "doh_in_tunnel": false,
                "enabled": true,
                "exclude": [
                  {
                    "address": "10.0.0.0/8"
                  },
                  {
                    "address": "100.64.0.0/10"
                  },
                  {
                    "address": "169.254.0.0/16",
                    "description": "DHCP Unspecified"
                  },
                  {
                    "address": "172.16.0.0/12"
                  },
                  {
                    "address": "192.0.0.0/24"
                  },
                  {
                    "address": "192.16[...]
