---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        X-Stainless-Arch:
          - arm64
        X-Stainless-Lang:
          - go
        X-Stainless-Os:
          - MacOS
        X-Stainless-Package-Version:
          - 4.1.0
        X-Stainless-Retry-Count:
          - "0"
        X-Stainless-Runtime:
          - go
        X-Stainless-Runtime-Version:
          - go1.24.0
      url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/rum/v2/2fa89d8f-35f7-49ef-87d3-f24e866a5d5e/rules
      method: GET
    response:
      body: |
        {
          "result": {
            "ruleset": {
              "zone_tag": "0da42c8d2132a9ddaf714f9e7c920711",
              "zone_name": "terraform.cfapi.net",
              "enabled": true,
              "id": "2fa89d8f-35f7-49ef-87d3-f24e866a5d5e",
              "lite": true
            },
            "rules": [
              {
                "host": "*",
                "paths": [
                  "*"
                ],
                "inclusive": true,
                "created": "2024-11-06T22:03:16.860539Z",
                "is_paused": false,
                "priority": 1000,
                "id": "243d4c9f-4271-4a36-954d-39adfb1a2835"
              },
              {
                "host": "*.example.com",
                "paths": [
                  "v1/images/*"
                ],
                "inclusive": false,
                "created": "2024-11-06T22:03:16.860539Z",
                "is_paused": false,
                "priority": 1000,
                "id": "243d4c9f-1111-ad43-954d-39adfb1a8796"
              }
            ]
          },
          "success": true,
          "errors": [],
          "messages": []
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: ""
