---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        X-Stainless-Arch:
          - arm64
        X-Stainless-Lang:
          - go
        X-Stainless-Os:
          - MacOS
        X-Stainless-Package-Version:
          - 4.0.0
        X-Stainless-Retry-Count:
          - "0"
        X-Stainless-Runtime:
          - go
        X-Stainless-Runtime-Version:
          - go1.23.5
      url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/email-security/settings/block_senders
      method: GET
    response:
      body: |
        {
          "errors": [],
          "messages": [],
          "result": [
            {
              "id": 2402,
              "is_regex": true,
              "last_modified": "2019-12-27T18:11:19.117Z",
              "pattern": "x",
              "pattern_type": "EMAIL",
              "comments": "comments"
            }
          ],
          "result_info": {
            "count": 1,
            "page": 1,
            "per_page": 20,
            "total_count": 200
          },
          "success": true
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: ""
