---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        X-Stainless-Arch:
          - arm64
        X-Stainless-Lang:
          - go
        X-Stainless-Os:
          - MacOS
        X-Stainless-Package-Version:
          - 4.0.0
        X-Stainless-Retry-Count:
          - "0"
        X-Stainless-Runtime:
          - go
        X-Stainless-Runtime-Version:
          - go1.23.5
      url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/access/ai-controls/mcp/portals
      method: GET
    response:
      body: |
        {
          "errors": [],
          "messages": [],
          "result": [
            {
              "id": "b2c3d4e5f6789012abcdef1234567891",
              "name": "test-mcp-portal",
              "description": "A test MCP portal for cf-terraforming",
              "hostname": "mcp-portal.terraform.cfapi.net",
              "secure_web_gateway": false,
              "created_at": "2026-03-11 15:00:58",
              "created_by": "tamas@cloudflare.com",
              "modified_at": "2026-03-11T16:06:01.767Z",
              "modified_by": "tamas@cloudflare.com",
              "servers": [
                {
                  "id": "a1b2c3d4e5f67890abcdef1234567890",
                  "name": "test-mcp-server",
                  "description": "A test MCP server for cf-terraforming",
                  "hostname": "https://mcp.example.com",
                  "tools": [],
                  "updated_tools": [
                    { "name": "search",    "enabled": true,  "description": "Search for information" },
                    { "name": "summarize", "enabled": true,  "description": "Summarize content"      },
                    { "name": "translate", "enabled": false, "description": "Translate text"         }
                  ],
                  "prompts": [],
                  "updated_prompts": [
                    { "name": "system",   "enabled": true, "description": "System context prompt" },
                    { "name": "greeting", "enabled": true, "description": "Initial greeting"      }
                  ],
                  "on_behalf": true,
                  "default_disabled": true,
                  "auth_type": "unauthenticated",
                  "status": "error",
                  "error": "Server error: HTTP 530",
                  "last_synced": "2026-03-11 15:00:45",
                  "created_at": "2026-03-11 15:00:45",
                  "created_by": "tamas@cloudflare.com",
                  "modified_at": "2026-03-11 15:00:45",
                  "modified_by": "tamas@cloudflare.com"
                }
              ]
            }
          ],
          "result_info": {
            "count": 1,
            "page": 1,
            "per_page": 50,
            "total_count": 1,
            "total_pages": 1
          },
          "success": true
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: ""
