---
version: 1
interactions:
  - request:
      body: ""
      form: { }
      headers:
        X-Stainless-Arch:
          - arm64
        X-Stainless-Lang:
          - go
        X-Stainless-Os:
          - MacOS
        X-Stainless-Package-Version:
          - 4.0.0
        X-Stainless-Retry-Count:
          - "0"
        X-Stainless-Runtime:
          - go
        X-Stainless-Runtime-Version:
          - go1.23.5
      url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/dlp/profiles/predefined/c8932cc4-3312-4152-8041-f3f257122dc4
      method: GET
    response:
      body: |
        {
          "errors": [],
          "messages": [],
          "result": {
            "ai_context_enabled": false,
            "allowed_match_count": 0,
            "context_awareness": {
              "enabled": false,
              "skip": {
                "files": false
              }
            },
            "entries": [
              {
                "confidence": {
                  "ai_context_available": true,
                  "available": false
                },
                "enabled": false,
                "id": "d8fcfc9c-773c-405e-8426-21ecbb67ba93",
                "name": "Amazon AWS Access Key ID",
                "profile_id": "c8932cc4-3312-4152-8041-f3f257122dc4",
                "type": "predefined"
              },
              {
                "confidence": {
                  "ai_context_available": false,
                  "available": false
                },
                "enabled": false,
                "id": "2c0e33e1-71da-40c8-aad3-32e674ad3d96",
                "name": "Amazon AWS Secret Access Key",
                "profile_id": "c8932cc4-3312-4152-8041-f3f257122dc4",
                "type": "predefined"
              },
              {
                "confide[...]
[...]
