---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        X-Stainless-Arch:
          - arm64
        X-Stainless-Lang:
          - go
        X-Stainless-Os:
          - MacOS
        X-Stainless-Package-Version:
          - 4.0.0
        X-Stainless-Retry-Count:
          - "0"
        X-Stainless-Runtime:
          - go
        X-Stainless-Runtime-Version:
          - go1.23.5
      url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/devices/posture/integration
      method: GET
    response:
      body: |
        {
          "errors": [],
          "messages": [],
          "result": [
            {
              "config": {
                "api_url": "https://techp-as.awmdm.com/API",
                "auth_url": "https://na.uemauth.vmwservices.com/connect/token",
                "client_id": "d0ed71f01c884e8b94ec4e4d6639f609"
              },
              "id": "122dc5f8-3cfb-4095-9af6-ac584b6f805c",
              "identifier": "",
              "interval": "24h",
              "name": "ptstsjfmxl",
              "schema": {},
              "test_results": {},
              "type": "workspace_one"
            }
          ],
          "success": true
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: ""
