---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      X-Stainless-Arch:
      - arm64
      X-Stainless-Lang:
      - go
      X-Stainless-Os:
      - MacOS
      X-Stainless-Package-Version:
      - 4.0.0
      X-Stainless-Retry-Count:
      - "0"
      X-Stainless-Runtime:
      - go
      X-Stainless-Runtime-Version:
      - go1.23.5
    url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/rules/lists
    method: GET
  response:
    body: |
      {
        "result": [
          {
            "id": "36b7f6d95e7a4e09be9dc97900a44b46",
            "name": "cdpxtbboal",
            "description": "list named cdpxtbboal",
            "kind": "redirect",
            "num_items": 0,
            "num_referencing_filters": 0,
            "created_on": "2024-10-10T02:22:32Z",
            "modified_on": "2024-10-10T02:22:32Z"
          },
          {
            "id": "2691254765e049eb95bb3826cc4a526c",
            "name": "eplfravddj",
            "description": "eplfravddj",
            "kind": "ip",
            "num_items": 0,
            "num_referencing_filters": 0,
            "created_on": "2024-10-24T03:59:28Z",
            "modified_on": "2024-10-24T03:59:28Z"
          },
          {
            "id": "a2d365108e1840e99afc6cf4cc800869",
            "name": "eqjbckozbq",
            "[...]
