---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        X-Stainless-Arch:
          - arm64
        X-Stainless-Lang:
          - go
        X-Stainless-Os:
          - MacOS
        X-Stainless-Package-Version:
          - 4.0.0
        X-Stainless-Retry-Count:
          - "0"
        X-Stainless-Runtime:
          - go
        X-Stainless-Runtime-Version:
          - go1.23.5
      url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/email-security/settings/trusted_domains
      method: GET
    response:
      body: |
        {
          "errors": [],
          "messages": [],
          "result": [
            {
              "comments": null,
              "created_at": "2025-04-10T18:21:34.047327Z",
              "id": 28083,
              "is_recent": true,
              "is_regex": false,
              "is_similarity": false,
              "last_modified": "2025-04-10T18:21:34.047327Z",
              "pattern": "example.com"
            }
          ],
          "result_info": {
            "count": 1,
            "page": 1,
            "per_page": 20,
            "total_count": 1
          },
          "success": true
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: ""