---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/rulesets
    method: GET
  response:
    body: |
      {
        "result": [
          {
            "description": "Created by the Cloudflare security team, this ruleset provides normalization on the URL path",
            "id": "70339d97bdb34195bbf054b1ebe81f76",
            "kind": "managed",
            "last_updated": "2024-08-01T17:37:11.538019Z",
            "name": "Cloudflare Normalization Ruleset",
            "phase": "http_request_sanitize",
            "version": "6"
          },
          {
            "description": "Created by the Cloudflare security team, this ruleset is designed to provide fast and effective protection for all your applications. It is frequently updated to cover new vulnerabilities and reduce false positives.",
            "id": "efb7b8c949ac4650a09736fc376e9aee",
            "kind": "managed",
            "last_updated": "2025-03-22T17:48:12.420395Z",
            "name": "Cloudflare Managed Ruleset",
            "phase": "http_request_firewall_managed",
            "source": "firewall_managed",
            "version": "243"
          },
          {
            "description": "Cloudflare's implementation of the Open Web Application Security Project (OWASP) ModSecurity Core Rule Set. We routinely monitor for updates from OWASP based on the latest version available from the official code repository",
            "id": "4814384a9e5d4991b9815dcfc25d2f1f",
            "kind": "managed",
            "last_updated": "2024-08-19T17:26:58.593021Z",
            "name": "Cloudf[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/rulesets/531089b9f03945449d781dfba833bafb
    method: GET
  response:
    body: |
      {
        "result": {
          "description": "",
          "id": "531089b9f03945449d781dfba833bafb",
          "kind": "zone",
          "last_updated": "2025-03-25T22:38:12.845519Z",
          "name": "default",
          "phase": "http_request_dynamic_redirect",
          "rules": [
            {
              "action": "redirect",
              "action_parameters": {
                "from_value": {
                  "preserve_query_string": true,
                  "status_code": 301,
                  "target_url": {
                    "value": "https://example.com/foo"
                  }
                }
              },
              "enabled": true,
              "expression": "true",
              "id": "c4d1a4fbb1da4203a43837b4e88aace9",
              "last_updated": "2025-03-25T22:38:12.845519Z",
              "ref": "jacob1",
              "version": "2"
            },
            {
              "action": "redirect",
              "action_parameters": {
                "from_value": {
                  "preserve_query_string": true,
                  "status_code": 301,
                  "target_url": {
                    "value": "https://example.com/example1"
                  }
                }
              },
              "enabled": true,
              "expression": "true",
              "id": "e56201e7d0ee48cca75e28813a12e11e",
              "last_updated": "2025-03-25T22:38:12.845519Z",
              "ref": "jacob2",
              "version": "3"
            }
          ],
          "version": "3"
        },
        "success": true,
        "errors": [],
        "messages": []
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Version:
      - 11126-5fd2b4dee189
    status: 200 OK
    code: 200
    duration: ""
