---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        X-Stainless-Arch:
          - arm64
        X-Stainless-Lang:
          - go
        X-Stainless-Os:
          - MacOS
        X-Stainless-Package-Version:
          - 4.0.0
        X-Stainless-Retry-Count:
          - "0"
        X-Stainless-Runtime:
          - go
        X-Stainless-Runtime-Version:
          - go1.23.5
      url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/leaked-credential-checks/detections
      method: GET
    response:
      body: |
        {
          "errors": [],
          "messages": [],
          "result": [
            {
              "id": "17555058140a4a34a1f9e04ef5d5bba0",
              "password": "lookup_json_string(http.request.body.raw, \"password\")",
              "username": "lookup_json_string(http.request.body.raw, \"username\")"
            },
            {
              "id": "08b902671a714564be0826ef61138021",
              "password": "lookup_json_string(http.request.body.raw, \"pass\")",
              "username": "lookup_json_string(http.request.body.raw, \"user\")"
            },
            {
              "id": "87f707613ae04717a6d3d1c2e8d6cf88",
              "password": "lookup_json_string(http.request.body.raw, \"secret\")",
              "username": "lookup_json_string(http.request.body.raw, \"id\")"
            }
          ],
          "success": true
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: ""
