---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      X-Stainless-Arch:
      - arm64
      X-Stainless-Lang:
      - go
      X-Stainless-Os:
      - MacOS
      X-Stainless-Package-Version:
      - 4.1.0
      X-Stainless-Retry-Count:
      - "0"
      X-Stainless-Runtime:
      - go
      X-Stainless-Runtime-Version:
      - go1.24.0
    url: https://api.cloudflare.com/client/v4/accounts
    method: GET
  response:
    body: |
      {
         "result":[
            {
               "id":"d781e89412e1965584dc2a65a43b7fce",
               "name":"Foo Production",
               "type":"enterprise",
               "settings":{
                  "enforce_twofactor":true,
                  "api_access_enabled":null,
                  "access_approval_expiry":null,
                  "use_account_custom_ns_by_default":false,
                  "default_nameservers":"cloudflare.standard",
                  "abuse_contact_email":null
               },
               "legacy_flags":{
                  "enterprise_zone_quota":{
                     "maximum":30,
                     "current":24,
                     "available":6
                  }
               },
               "created_on":"2018-04-03T20:55:02.113290Z"
            },
            {
               "id":"725379064ae74b03c3e3058pokhdv",
               "name":"Foo Staging",
               "type":"enterprise",
               "settings":{
                  "enforce_twofactor":false,
                  "api_access_enabled":null,
                  "access_approval_expiry":null,
                  "use_account_custom_ns_by_default":false,
                  "default_nameservers":"cloudflare.standard",
                  "abuse_[...]
