---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      X-Stainless-Arch:
      - arm64
      X-Stainless-Lang:
      - go
      X-Stainless-Os:
      - MacOS
      X-Stainless-Package-Version:
      - 4.0.0
      X-Stainless-Retry-Count:
      - "0"
      X-Stainless-Runtime:
      - go
      X-Stainless-Runtime-Version:
      - go1.23.5
    url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/email/routing
    method: GET
  response:
    body: '{"result":{"id":"0da42c8d2132a9ddaf714f9e7c920711","tag":"0da42c8d2132a9ddaf714f9e7c920711","name":"example.com","enabled":true,"created":"2021-12-11T06:56:57.814516Z","modified":"2025-02-21T21:31:40.662678Z","skip_wizard":true,"synced":true,"admin_locked":false,"subdomains":[],"status":"ready"},"success":true,"errors":[],"messages":[]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
