---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        X-Stainless-Arch:
          - arm64
        X-Stainless-Lang:
          - go
        X-Stainless-Os:
          - MacOS
        X-Stainless-Package-Version:
          - 4.0.0
        X-Stainless-Retry-Count:
          - "0"
        X-Stainless-Runtime:
          - go
        X-Stainless-Runtime-Version:
          - go1.23.5
      url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/infrastructure/targets
      method: GET
    response:
      body: |
        {
          "errors": [],
          "messages": [],
          "result": [
            {
              "created_at": "2025-03-19T23:24:24Z",
              "hostname": "infra-access-target",
              "id": "0195b0b8-eba9-707b-8799-45eb62d37d1f",
              "ip": {
                "ipv4": {
                  "ip_addr": "187.26.29.249",
                  "virtual_network_id": "59c65fed-41cd-4d00-a861-a1bd3b90a32f"
                },
                "ipv6": null
              },
              "modified_at": "2025-03-19T23:24:24Z"
            }
          ],
          "result_info": {
            "count": 1,
            "page": 1,
            "per_page": 1000,
            "total_count": 1
          },
          "success": true
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: ""