---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      X-Stainless-Arch:
      - arm64
      X-Stainless-Lang:
      - go
      X-Stainless-Os:
      - MacOS
      X-Stainless-Package-Version:
      - 4.0.0
      X-Stainless-Retry-Count:
      - "0"
      X-Stainless-Runtime:
      - go
      X-Stainless-Runtime-Version:
      - go1.23.5
    url: https://api.cloudflare.com/client/v4/zones
    method: GET
  response:
    body: |
      {
        "errors": [],
        "messages": [],
        "result": [
          {
            "account": {
              "id": "d781e89412e1965584dc2a65a43b7fce",
              "name": "Foo Team Production"
            },
            "activated_on": "2023-06-20T09:43:50.808668Z",
            "created_on": "2023-06-20T09:37:09.971592Z",
            "development_mode": 0,
            "id": "d3d821f17e8a0f09b58be826091540db",
            "meta": {
              "custom_certificate_quota": 1,
              "page_rule_quota": 100,
              "phishing_detected": false,
              "step": 2
            },
            "modified_on": "2023-06-20T09:43:50.808668Z",
            "name": "api.cloudflarecn.net",
            "name_servers": [
              "linda.ns.cloudflare.com",
              "merlin.ns.cloudflare.com"
            ],
            "original_dnshost": null,
            "original_name_servers": [
              "ns79.dns.cf-ns.com",
              "ns90.dns.cf-ns.com"
            ],
            "original_registrar": "22net, inc. (id: 1555)",
            "owner": {
              "id": "d781e89412e1965584dc2a65a43b7fce",
              "name": "API Team Production",
              "type": "organization"
            },
            "paused": false,
            "permissions": [              
              "#page_shield:edit",
              "#zone:edit",
              "#zone:read",
              "#teams:report",
              "#subscription:edit",
              "#app:edit",
              "#subscription:read",
              "#cache_purge:edit",
              "#auditlogs:read",
              "#member:read",
              "#legal:read"
            ],
            "plan": {
              "can_subscribe": true,
              "currency": "USD",
              "externally_managed": true,
              "frequency": "",
              "id": "94f3b7b768b0458b56d2cac4fe5ec0f9",
              "is_subscribed": true,
              "legacy_discount": false,
              "legacy_id": "enterprise",
              "name": "Enterprise Website",
              "price": 0
            },
            "status": "active",
            "tenant": {
              "id": "46f0a1ce86ec3d91fae00db3b8b48cee",
              "name": "Cloudflare, Inc."
            },
            "tenant_unit": {
              "id": "7381208746ee42cbaf7ca36ea7f80144"
            },
            "type": "full",
            "vanity_name_servers": [],
            "vanity_name_servers_ips": null
          },
          {
            "account": {
              "id": "d781e89412e1965584dc2a65a43b7fce",
              "name": "API Team Production"
            },
            "activated_on": "2019-09-24T20:04:12.794834Z",
            "created_on": "2019-08-16T20:28:05.207385Z",
            "development_mode": 0,
            "id": "fad922598557ed97dcba616080c80f15",
            "meta": {
              "custom_certificate_quota": 1,
              "page_rule_quota": 100,
              "phis[...]
