---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        X-Stainless-Arch:
          - arm64
        X-Stainless-Lang:
          - go
        X-Stainless-Os:
          - MacOS
        X-Stainless-Package-Version:
          - 4.1.0
        X-Stainless-Retry-Count:
          - "0"
        X-Stainless-Runtime:
          - go
        X-Stainless-Runtime-Version:
          - go1.24.0
      url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/workers/scripts/accounts/subdomain
      method: GET
    response:
      body: |
        {
          "errors": [],
          "messages": [],
          "result": {
            "enabled": true,
            "previews_enabled": true
          },
          "success": true
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: ""
