---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        X-Stainless-Arch:
          - arm64
        X-Stainless-Lang:
          - go
        X-Stainless-Os:
          - MacOS
        X-Stainless-Package-Version:
          - 4.0.0
        X-Stainless-Retry-Count:
          - "0"
        X-Stainless-Runtime:
          - go
        X-Stainless-Runtime-Version:
          - go1.23.5
      url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/cache/variants
      method: GET
    response:
      body: |
        {
          "errors": [],
          "messages": [],
          "result": {
            "editable": true,
            "id": "variants",
            "modified_on": "2025-06-10T18:57:26.382548Z",
            "value": {
              "avif": [
                "image/avif",
                "image/webp"
              ],
              "bmp": [
                "image/bmp",
                "image/webp"
              ],
              "gif": [
                "image/gif",
                "image/webp"
              ],
              "jp2": [
                "image/jp2",
                "image/webp"
              ],
              "jpeg": [
                "image/jpeg",
                "image/webp"
              ],
              "jpg": [
                "image/jpg",
                "image/webp"
              ],
              "jpg2": [
                "image/jpg2",
                "image/webp"
              ],
              "png": [
                "image/png"
              ],
              "tif": [
                "image/tif",
                "image/webp"
              ],
              "tiff": [
                "image/tiff",
                "image/webp"
              ],
              "webp": [
                "image/webp"
              ]
            }
          },
          "success": true
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: ""
