---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        X-Stainless-Arch:
          - arm64
        X-Stainless-Lang:
          - go
        X-Stainless-Os:
          - MacOS
        X-Stainless-Package-Version:
          - 4.0.0
        X-Stainless-Retry-Count:
          - "0"
        X-Stainless-Runtime:
          - go
        X-Stainless-Runtime-Version:
          - go1.23.5
      url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/stream/watermarks
      method: GET
    response:
      body: |
        {
          "errors": [],
          "messages": [],
          "result": [
            {
              "created": "2025-03-20T16:56:38.944925Z",
              "downloadedFrom": null,
              "height": 1280,
              "name": "Marketing Videos",
              "opacity": 0.75,
              "padding": 0.1,
              "position": "center",
              "scale": 0.1,
              "size": 380244,
              "uid": "c61af49ac48c6e60eb9797c87ab5de91",
              "width": 1276
            }
          ],
          "success": true
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: ""