---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        X-Stainless-Arch:
          - arm64
        X-Stainless-Lang:
          - go
        X-Stainless-Os:
          - MacOS
        X-Stainless-Package-Version:
          - 4.0.0
        X-Stainless-Retry-Count:
          - "0"
        X-Stainless-Runtime:
          - go
        X-Stainless-Runtime-Version:
          - go1.23.5
      url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/email-security/settings/impersonation_registry
      method: GET
    response:
      body: |
        {
          "errors": [],
          "messages": [],
          "result": [
            {
              "comments": null,
              "created_at": "2025-04-10T18:27:34.872907Z",
              "directory_id": 0,
              "directory_node_id": null,
              "email": "email",
              "external_directory_node_id": "12444788",
              "id": 12444788,
              "is_email_regex": true,
              "last_modified": "2025-04-10T18:27:34.872907Z",
              "name": "name",
              "provenance": "A1S_INTERNAL"
            }
          ],
          "result_info": {
            "count": 1,
            "page": 1,
            "per_page": 20,
            "total_count": 1
          },
          "success": true
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: ""