---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        X-Stainless-Arch:
          - arm64
        X-Stainless-Lang:
          - go
        X-Stainless-Os:
          - MacOS
        X-Stainless-Package-Version:
          - 4.0.0
        X-Stainless-Retry-Count:
          - "0"
        X-Stainless-Runtime:
          - go
        X-Stainless-Runtime-Version:
          - go1.23.5
      url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/access/groups
      method: GET
    response:
      body: |
        {
          "errors": [],
          "messages": [],
          "result": [
            {
              "created_at": "2025-03-18T21:12:24Z",
              "exclude": [],
              "id": "a29a495a-2f0b-4aad-980b-b891cc8ab6a9",
              "include": [
                {
                  "email_list": {
                    "id": "140f88f4-e69f-4d51-8ca0-8af660000039"
                  }
                }
              ],
              "name": "kskryelbix",
              "require": [],
              "uid": "a29a495a-2f0b-4aad-980b-b891cc8ab6a9",
              "updated_at": "2025-03-18T21:12:24Z"
            }
          ],
          "result_info": {
            "count": 1,
            "page": 1,
            "per_page": 1000,
            "total_count": 1,
            "total_pages": 1
          },
          "success": true
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: ""