---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        X-Stainless-Arch:
          - arm64
        X-Stainless-Lang:
          - go
        X-Stainless-Os:
          - MacOS
        X-Stainless-Package-Version:
          - 4.0.0
        X-Stainless-Retry-Count:
          - "0"
        X-Stainless-Runtime:
          - go
        X-Stainless-Runtime-Version:
          - go1.23.5
      url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/r2/buckets/jb-test-bucket/domains/managed
      method: GET
    response:
      body: |
        {
          "errors": [],
          "messages": [],
          "result": {
            "bucketId": "3e18aca91b944200983107cef1d54f31",
            "domain": "pub-3e18aca91b944200983107cef1d54f31.r2.dev",
            "enabled": false
          },
          "success": true
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: ""
  - request:
      body: ""
      form: { }
      headers:
        X-Stainless-Arch:
          - arm64
        X-Stainless-Lang:
          - go
        X-Stainless-Os:
          - MacOS
        X-Stainless-Package-Version:
          - 4.0.0
        X-Stainless-Retry-Count:
          - "0"
        X-Stainless-Runtime:
          - go
        X-Stainless-Runtime-Version:
          - go1.23.5
      url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/r2/buckets/bnfywlzwpt/domains/managed
      method: GET
    response:
      body: |
        {
          "errors": [],
          "messages": [],
          "result": {
            "bucketId": "ae4f5ccdc7cb43ed8aea634a9865146d",
            "domain": "pub-ae4f5ccdc7cb43ed8aea634a9865146d.r2.dev",
            "enabled": false
          },
          "success": true
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: ""
