---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/custom_certificates
    method: GET
  response:
    body: |
      {
        "success": true,
        "errors": [],
        "messages": [],
        "result": [
          {
            "id": "2458ce5a-0c35-4c7f-82c7-8e9487d3ff60",
            "hosts": [
              "example.com"
            ],
            "issuer": "GlobalSign",
            "signature": "SHA256WithRSA",
            "status": "active",
            "bundle_method": "ubiquitous",
            "geo_restrictions": {
              "label": "us"
            },
            "zone_id": "023e105f4ecef8ad9ca31a8372d0c353",
            "uploaded_on": "2014-01-01T05:20:00Z",
            "modified_on": "2014-01-01T05:20:00Z",
            "expires_on": "2016-01-01T05:20:00Z",
            "policy": "(country: US) or (region: EU)",
            "priority": 1
          }
        ]
      }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
