---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        X-Stainless-Arch:
          - arm64
        X-Stainless-Lang:
          - go
        X-Stainless-Os:
          - MacOS
        X-Stainless-Package-Version:
          - 4.1.0
        X-Stainless-Retry-Count:
          - "0"
        X-Stainless-Runtime:
          - go
        X-Stainless-Runtime-Version:
          - go1.24.0
      url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/alerting/v3/destinations/webhooks
      method: GET
    response:
      body: |
        {
          "errors": [],
          "messages": [],
          "result": [
            {
              "created_at": "2025-03-12T17:31:52.88075Z",
              "id": "1dbdd679dc554259b0d1928b787d0dab",
              "last_failure": null,
              "last_success": null,
              "name": "my webhooks destination for receiving Cloudflare notifications",
              "type": "generic",
              "url": "https://httpbin.org/post"
            }
          ],
          "success": true
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: ""
