---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        X-Stainless-Arch:
          - arm64
        X-Stainless-Lang:
          - go
        X-Stainless-Os:
          - MacOS
        X-Stainless-Package-Version:
          - 4.0.0
        X-Stainless-Retry-Count:
          - "0"
        X-Stainless-Runtime:
          - go
        X-Stainless-Runtime-Version:
          - go1.23.5
      url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/snippets
      method: GET
    response:
      body: |
        {
          "result": [
            {
              "created_on": "2025-01-28T03:10:38Z",
              "modified_on": "2025-01-28T03:10:38Z",
              "snippet_name": "example_snippet",
              "main_module": "main.js",
              "files": []
            }
          ],
          "result_info": {
            "count": 1,
            "page": 1,
            "per_page": 25,
            "total_count": 1,
            "total_pages": 1
          },
          "success": true
        }
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: ""
