---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        X-Stainless-Arch:
          - arm64
        X-Stainless-Lang:
          - go
        X-Stainless-Os:
          - MacOS
        X-Stainless-Package-Version:
          - 4.1.0
        X-Stainless-Retry-Count:
          - "0"
        X-Stainless-Runtime:
          - go
        X-Stainless-Runtime-Version:
          - go1.24.0
      url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/d1/database
      method: GET
    response:
      body: |
        {
          "errors": [],
          "messages": [],
          "result": [
            {
              "created_at": "2023-12-27T22:30:09.085Z",
              "file_size": 12288,
              "name": "terraform-acc-test",
              "num_tables": 0,
              "uuid": "ce8b95dc-b376-4ff8-9b9e-1801ed6d745d",
              "version": "production"
            }
          ],
          "result_info": {
            "count": 1,
            "page": 1,
            "per_page": 100,
            "total_count": 1
          },
          "success": true
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: ""
