---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        X-Stainless-Arch:
          - arm64
        X-Stainless-Lang:
          - go
        X-Stainless-Os:
          - MacOS
        X-Stainless-Package-Version:
          - 4.0.0
        X-Stainless-Retry-Count:
          - "0"
        X-Stainless-Runtime:
          - go
        X-Stainless-Runtime-Version:
          - go1.23.5
      url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/ai-search/tokens
      method: GET
    response:
      body: |
        {
          "errors": [],
          "messages": [],
          "result": [
            {
              "id": "tok-abc123",
              "cf_api_id": "api-id-123",
              "cf_api_key": "api-key-secret",
              "created_at": "2025-06-15T10:30:00.000Z",
              "legacy": true,
              "modified_at": "2025-06-15T10:30:00.000Z",
              "name": "my-token"
            }
          ],
          "result_info": {
            "count": 1,
            "page": 1,
            "per_page": 100,
            "total_count": 1
          },
          "success": true
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: ""
