---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      X-Stainless-Arch:
      - arm64
      X-Stainless-Lang:
      - go
      X-Stainless-Os:
      - MacOS
      X-Stainless-Package-Version:
      - 4.1.0
      X-Stainless-Retry-Count:
      - "0"
      X-Stainless-Runtime:
      - go
      X-Stainless-Runtime-Version:
      - go1.24.0
    url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/challenges/widgets
    method: GET
  response:
    body: |
      {
        "errors": [],
        "messages": [],
        "result": [
          {
            "bot_fight_mode": false,
            "clearance_level": "no_clearance",
            "created_on": "2025-03-11T22:11:51.184511Z",
            "domains": [],
            "ephemeral_id": false,
            "mode": "managed",
            "modified_on": "2025-03-11T22:11:51.184511Z",
            "name": "zzshozwarx",
            "offlabel": false,
            "region": "world",
            "sitekey": "0x4AAAAAABAWeQGPbpr0adsv"
          }
        ],
        "result_info": {
          "count": 1,
          "page": 1,
          "per_page": 25,
          "total_count": 1,
          "total_pages": 1
        },
        "success": true
      }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
