---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        X-Stainless-Arch:
          - arm64
        X-Stainless-Lang:
          - go
        X-Stainless-Os:
          - MacOS
        X-Stainless-Package-Version:
          - 4.0.0
        X-Stainless-Retry-Count:
          - "0"
        X-Stainless-Runtime:
          - go
        X-Stainless-Runtime-Version:
          - go1.23.5
      url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/access/ai-controls/mcp/servers
      method: GET
    response:
      body: |
        {
          "errors": [],
          "messages": [],
          "result": [
            {
              "id": "a1b2c3d4e5f67890abcdef1234567890",
              "name": "test-mcp-server",
              "description": "A test MCP server for cf-terraforming",
              "hostname": "https://mcp.example.com",
              "auth_type": "unauthenticated",
              "tools": [],
              "prompts": [],
              "status": "active",
              "error": "",
              "last_synced": "2024-10-09T01:50:10Z",
              "last_successful_sync": "2024-10-09T01:50:10Z",
              "created_at": "2024-10-09T01:50:10Z",
              "created_by": "tamas@cloudflare.com",
              "modified_at": "2024-10-09T01:50:10Z",
              "modified_by": "tamas@cloudflare.com"
            }
          ],
          "result_info": {
            "count": 1,
            "page": 1,
            "per_page": 50,
            "total_count": 1,
            "total_pages": 1
          },
          "success": true
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: ""
