---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      X-Stainless-Arch:
      - arm64
      X-Stainless-Lang:
      - go
      X-Stainless-Os:
      - MacOS
      X-Stainless-Package-Version:
      - 4.0.0
      X-Stainless-Retry-Count:
      - "0"
      X-Stainless-Runtime:
      - go
      X-Stainless-Runtime-Version:
      - go1.23.5
    url: https://api.cloudflare.com/client/v4/zones
    method: GET
  response:
    body: '{"result":[{"id":"c1f416e3ae7b7e3873d501e5d3b93c2f","name":"a11y-testing.com","status":"active","paused":false,"type":"full","development_mode":0,"name_servers":["leah.ns.cloudflare.com","peyton.ns.cloudflare.com"],"original_name_servers":["brit.ns.cloudflare.com"],"original_registrar":"cloudflare,
      inc. (id: 1910)","original_dnshost":null,"modified_on":"2020-10-30T02:05:15.549300Z","created_on":"2019-08-21T18:04:33.079522Z","activated_on":"2019-08-26T21:24:57.885581Z","vanity_name_servers":[],"vanity_name_servers_ips":null,"meta":{"step":3,"custom_certificate_quota":1,"page_rule_quota":100,"phishing_detected":false},"owner":{"id":"998c66447b7b4c67497c499a9ab1b7dd","type":"organization","name":"Cloudflare
      UI Team"},"account":{"id":"998c66447b7b4c67497c499a9ab1b7dd","name":"Cloudflare
      UI Team"},"tenant":{"id":"46f0a1ce86ec3d91fae00db3b8b48cee","name":"Cloudflare,
      Inc."},"tenant_unit":{"id":"7381208746ee42cbaf7ca36ea7f80144"},"permissions":["#access:edit","#access:read","#analytics:read","#api_gateway:edit","#api_gateway:read","#app:edit","#auditlogs:read","#billing:read","#blocks:edit","#blocks:read","#cache_purge:edit","#cds_compute_account:edit","#cds_compute_account:read","#cds:edit","#cds:read","#ces_analytics:read","#ces_integration:edit","#ces_integration:read","#ces_phishguard:read","#ces_search:action","#ces_search:preview","#ces_search:raw","#ces_search:read","#ces_search:trace","#ces_settings:edit","#ces_settings:read",[...]
