---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        X-Stainless-Arch:
          - arm64
        X-Stainless-Lang:
          - go
        X-Stainless-Os:
          - MacOS
        X-Stainless-Package-Version:
          - 4.0.0
        X-Stainless-Retry-Count:
          - "0"
        X-Stainless-Runtime:
          - go
        X-Stainless-Runtime-Version:
          - go1.23.5
      url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/ai-gateway/gateways
      method: GET
    response:
      body: |
        {
          "errors": [],
          "messages": [],
          "result": [
            {
              "id": "my-ai-gateway",
              "authentication": false,
              "cache_invalidate_on_update": false,
              "cache_ttl": 0,
              "collect_logs": true,
              "created_at": "2025-06-15T10:30:00.000Z",
              "log_management": 10000000,
              "log_management_strategy": "DELETE_OLDEST",
              "logpush": false,
              "modified_at": "2025-06-15T10:30:00.000Z",
              "rate_limiting_interval": 0,
              "rate_limiting_limit": 0,
              "rate_limiting_technique": "fixed",
              "workers_ai_billing_mode": "postpaid",
              "zdr": false
            }
          ],
          "result_info": {
            "count": 1,
            "page": 1,
            "per_page": 100,
            "total_count": 1
          },
          "success": true
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: ""
