---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        X-Stainless-Arch:
          - arm64
        X-Stainless-Lang:
          - go
        X-Stainless-Os:
          - MacOS
        X-Stainless-Package-Version:
          - 4.0.0
        X-Stainless-Retry-Count:
          - "0"
        X-Stainless-Runtime:
          - go
        X-Stainless-Runtime-Version:
          - go1.23.5
      url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/waiting_rooms
      method: GET
    response:
      body: |
        {
          "errors": [],
          "messages": [],
          "result": [
            {
              "cookie_attributes": {
                "samesite": "auto",
                "secure": "auto"
              },
              "cookie_suffix": "",
              "created_on": "2025-03-11T21:40:36.139882Z",
              "custom_page_html": "foobar",
              "default_template_language": "en-US",
              "description": "my desc",
              "disable_session_renewal": true,
              "host": "www.terraform.cfapi.net",
              "id": "e7f9e4c190ea8d6c66cab32ac110f39a",
              "json_response_enabled": true,
              "modified_on": "2025-03-11T21:40:36.139882Z",
              "name": "waiting_room_ucmxvksksg",
              "new_users_per_minute": 400,
              "next_event_prequeue_start_time": null,
              "next_event_start_time": null,
              "path": "/foobar",
              "queue_all": false,
              "queueing_method": "fifo",
              "queueing_status_code": 200,
              "session_duration": 10,
              "suspended": true,
              "total_active_users": 405,
              "turnstile_action": "log",
              "turnstile_mode": "invisible"
            }
          ],
          "result_info": {
            "count": 1,
            "page": 1,
            "per_page": 25,
            "total_count": 1,
            "total_pages": 1
          },
          "success": true
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: ""
