---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        X-Stainless-Arch:
          - arm64
        X-Stainless-Lang:
          - go
        X-Stainless-Os:
          - MacOS
        X-Stainless-Package-Version:
          - 4.0.0
        X-Stainless-Retry-Count:
          - "0"
        X-Stainless-Runtime:
          - go
        X-Stainless-Runtime-Version:
          - go1.23.5
      url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/web3/hostnames
      method: GET
    response:
      body: |
        {
          "errors": [],
          "messages": [],
          "result": [
            {
              "created_on": "2025-03-11T22:43:39.901233Z",
              "description": "test",
              "dnslink": "",
              "id": "f398ddd0b118490fb0b0ee2ccaa4964b",
              "modified_on": "2025-03-11T22:43:41.85008Z",
              "name": "mickmslsyi.terraform.cfapi.net",
              "status": "active",
              "target": "ethereum"
            }
          ],
          "success": true
        }
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: ""
