---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        X-Stainless-Arch:
          - arm64
        X-Stainless-Lang:
          - go
        X-Stainless-Os:
          - MacOS
        X-Stainless-Package-Version:
          - 4.1.0
        X-Stainless-Retry-Count:
          - "0"
        X-Stainless-Runtime:
          - go
        X-Stainless-Runtime-Version:
          - go1.24.0
      url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/queues/2dde6ac405cd457c9ce59dc4bda20c65/consumers
      method: GET
    response:
      body: |
        {
          "errors": null,
          "messages": null,
          "result": [
            {
              "consumer_id": "2f4e3428eaa0472bb6954cf6b7fb932f",
              "created_on": "2025-03-26T04:56:34.778508Z",
              "queue_id": "2dde6ac405cd457c9ce59dc4bda20c65",
              "queue_name": "queue",
              "script": "my-worker",
              "settings": {
                "batch_size": 50,
                "max_concurrency": 10,
                "max_retries": 5,
                "max_wait_time_ms": 5000,
                "retry_delay": 10
              },
              "type": "worker"
            }
          ],
          "result_info": {
            "count": 1,
            "page": 1,
            "per_page": 100,
            "total_count": 1,
            "total_pages": 1
          },
          "success": true
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: ""
