---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/rulesets
      method: GET
    response:
      body: |
        {
          "result": [
            {
              "id": "a624c23f94c84994815636e827d17937",
              "name": "Zone sanitize ruleset",
              "description": "",
              "kind": "zone",
              "version": "3",
              "last_updated": "2021-08-19T23:41:34.985519Z",
              "phase": "http_request_sanitize"
            }
          ],
          "success": true,
          "errors": [],
          "messages": []
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: ""
  - request:
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/rulesets/a624c23f94c84994815636e827d17937
      method: GET
    response:
      body: |
        {
          "result": {
            "id": "a624c23f94c84994815636e827d17937",
            "name": "Zone sanitize ruleset",
            "description": "",
            "kind": "zone",
            "version": "3",
            "rules": [
              {
                "id": "0789dc4343054d1e981f8c44bedc6fbd",
                "version": "1",
                "action": "execute",
                "action_parameters": {
                  "id": "70339d97bdb34195bbf054b1ebe81f76",
                  "version": "latest",
                  "overrides": {
                    "rules": [
                      {
                        "id": "78723a9e0c7c4c6dbec5684cb766231d",
                        "enabled": true
                      }
                    ]
                  }
                },
                "expression": "true",
                "last_updated": "2021-08-19T23:41:34.985519Z",
                "ref": "0789dc4343054d1e981f8c44bedc6fbd",
                "enabled": true
              }
            ],
            "last_updated": "2021-08-19T23:41:34.985519Z",
            "phase": "http_request_sanitize"
          },
          "success": true,
          "errors": [],
          "messages": []
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: ""
  - request:
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/rulesets/bf47a1e2d1f1402aa85eb8f507e3ff5b
      method: GET
    response:
      body: |
        {
          "result": {
            "id": "bf47a1e2d1f1402aa85eb8f507e3ff5b",
            "name": "default",
            "description": "",
            "source": "rate_limit",
            "kind": "zone",
            "version": "1",
            "rules": [
              {
                "id": "549e64153ff14d2cb5a5ef88c1f5bdbc",
                "version": "1",
                "action": "block",
                "ratelimit": {
                  "characteristics": [
                    "ip.src",
                    "cf.colo.id"
                  ],
                  "period": 60,
                  "requests_per_period": 100,
                  "mitigation_timeout": 30,
                  "mitigation_expression": ""
                },
                "expression": "(http.cookie eq \"namwe=value\")",
                "description": "fwewe",
                "last_updated": "2021-08-29T21:59:21.447624Z",
                "ref": "549e64153ff14d2cb5a5ef88c1f5bdbc",
                "enabled": false
              }
            ],
            "last_updated": "2021-08-29T21:59:21.447624Z",
            "phase": "http_ratelimit"
          },
          "success": true,
          "errors": [],
          "messages": []
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: ""
  - request:
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/rulesets/76d07b645c674faba69eff8d8451992c
      method: GET
    response:
      body: |
        {
          "result": {
            "id": "76d07b645c674faba69eff8d8451992c",
            "name": "zone",
            "description": "",
            "kind": "zone",
            "version": "1",
            "rules": [
              {
                "id": "c6893ad10fb344e9b8be3c0c3575adc9",
                "version": "1",
                "action": "execute",
                "action_parameters": {
                  "id": "4d21379b4f9f4bb088e0729962c8b3cf",
                  "version": "latest",
                  "overrides": {
                    "sensitivity_level": "medium"
                  }
                },
                "expression": "true",
                "description": "zone",
                "last_updated": "2021-08-30T02:38:50.39057Z",
                "ref": "c6893ad10fb344e9b8be3c0c3575adc9",
                "enabled": true
              }
            ],
            "last_updated": "2021-08-30T02:38:50.39057Z",
            "phase": "ddos_l7"
          },
          "success": true,
          "errors": [],
          "messages": []
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: ""
[...]
  - request:
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/api_gateway/operations/8255d5da-5a46-4928-ad00-01de7d48c1e7/schema_validation
      method: GET
    response:
      body: |
        {
          "errors": [],
          "messages": [],
          "result": {
            "mitigation_action": "log",
            "operation_id": "8255d5da-5a46-4928-ad00-01de7d48c1e7"
          },
          "success": true
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: ""
