---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        X-Stainless-Arch:
          - arm64
        X-Stainless-Lang:
          - go
        X-Stainless-Os:
          - MacOS
        X-Stainless-Package-Version:
          - 4.1.0
        X-Stainless-Retry-Count:
          - "0"
        X-Stainless-Runtime:
          - go
        X-Stainless-Runtime-Version:
          - go1.24.0
      url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/workers/domains
      method: GET
    response:
      body: |
        {
          "errors": null,
          "messages": null,
          "result": [
            {
              "cert_id": "51c238ad-4763-40c0-ad3f-0470f1774534",
              "environment": "production",
              "hostname": "xlythoeqck.terraform.cfapi.net",
              "id": "a20015497da8758272cd2545f2e40b85f5eb1a11",
              "service": "mute-truth-fdb1",
              "zone_id": "0da42c8d2132a9ddaf714f9e7c920711",
              "zone_name": "terraform.cfapi.net"
            },
            {
              "cert_id": "dfb60967-b934-44ef-878b-8b5c3f4c44b7",
              "environment": "production",
              "hostname": "mdzzhplloo.terraform.cfapi.net",
              "id": "5f676c5895abbaa10a4e52427d14d126ae959aeb",
              "service": "mute-truth-fdb1",
              "zone_id": "0da42c8d2132a9ddaf714f9e7c920711",
              "zone_name": "terraform.cfapi.net"
            }
          ],
          "result_info": {
            "count": 2,
            "page": 1,
            "per_page": 2,
            "total_count": 2
          },
          "success": true
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: ""
