---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        X-Stainless-Arch:
          - arm64
        X-Stainless-Lang:
          - go
        X-Stainless-Os:
          - MacOS
        X-Stainless-Package-Version:
          - 4.0.0
        X-Stainless-Retry-Count:
          - "0"
        X-Stainless-Runtime:
          - go
        X-Stainless-Runtime-Version:
          - go1.23.5
      url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/api_gateway/user_schemas
      method: GET
    response:
      body: |
        {
          "errors": [],
          "messages": [],
          "result": [
            {
              "created_at": "2025-03-07T04:07:48.438648Z",
              "is_learned": false,
              "kind": "openapi_v3",
              "name": "example_schema.json",
              "schema_id": "59f6e0a9-7d8d-446f-b4c8-fb9c2c1abae8",
              "size": 141,
              "source": "{\"info\":{\"title\":\"Example\",\"version\":\"0.1.0\"},\"openapi\":\"3.0.3\",\"paths\":{\"/\":{}},\"servers\":[{\"url\":\"api.example.com\"}]}",
              "validation_enabled": true
            },
            {
              "created_at": "2025-03-07T04:06:39.475204Z",
              "is_learned": false,
              "kind": "openapi_v3",
              "name": "example_schema.json",
              "schema_id": "fef87c1a-6ff7-4d3a-aeee-fe6cf9ca948a",
              "size": 141,
              "source": "{\"info\":{\"title\":\"Example\",\"version\":\"0.1.0\"},\"openapi\":\"3.0.3\",\"paths\":{\"/\":{}},\"servers\":[{\"url\":\"api.example.com\"}]}",
              "validation_enabled": true
            }
          ],
          "result_info": {
            "count": 2,
            "page": 1,
            "per_page": 20,
            "total_count": 2
          },
          "success": true
        }
      headers:
        Allow:
          - GET, POST
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: ""
