---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      X-Stainless-Arch:
      - arm64
      X-Stainless-Lang:
      - go
      X-Stainless-Os:
      - MacOS
      X-Stainless-Package-Version:
      - 4.0.0
      X-Stainless-Retry-Count:
      - "0"
      X-Stainless-Runtime:
      - go
      X-Stainless-Runtime-Version:
      - go1.23.5
    url: https://api.cloudflare.com/client/v4/user
    method: GET
  response:
    body: '{"result":{"id":"57e4f6979065965cedced698c2ca1982","email":"musa@cloudflare.com","username":"7c51fc2b8eb76dbdb94c5d6537baf5b1","first_name":null,"last_name":null,"telephone":null,"country":null,"zipcode":null,"two_factor_authentication_enabled":false,"two_factor_authentication_locked":true,"created_on":"2023-11-09T17:05:43.878709Z","modified_on":"2024-06-27T19:38:53.717489Z","organizations":[{"id":"d781e89412e1965584dc2a65a43b7fce","name":"API
      Team Production","status":"member","permissions":["#access:edit","#access:read","#analytics:read","#api_gateway:edit","#api_gateway:read","#app:edit","#auditlogs:read","#billing:read","#blocks:edit","#blocks:read","#cache_purge:edit","#cds_compute_account:edit","#cds_compute_account:read","#cds:edit","#cds:read","#ces_analytics:read","#ces_integration:edit","#ces_integration:read","#ces_phishguard:read","#ces_search:action","#ces_search:preview","#ces_search:raw","#ces_search:read","#ces_search:trace","#ces_settings:edit","#ces_settings:read",[...]
