---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        X-Stainless-Arch:
          - arm64
        X-Stainless-Lang:
          - go
        X-Stainless-Os:
          - MacOS
        X-Stainless-Package-Version:
          - 4.1.0
        X-Stainless-Retry-Count:
          - "0"
        X-Stainless-Runtime:
          - go
        X-Stainless-Runtime-Version:
          - go1.24.0
      url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/storage/kv/namespaces
      method: GET
    response:
      body: |
        {
          "errors": [],
          "messages": [],
          "result": [            
            {
              "id": "58b7feb130bf4aa3b1aa097ad0d5ebe0",
              "supports_url_encoding": true,
              "title": "vcfyjdyebc"
            },
            {
              "id": "70f3abd1bb1f45a39bf4a80496db4a95",
              "supports_url_encoding": true,
              "title": "test"
            },            
            {
              "id": "fc7e95ba53924258afd531ea528344ad",
              "supports_url_encoding": true,
              "title": "jb-test"
            }
          ],
          "result_info": {
            "count": 3,
            "page": 1,
            "per_page": 20,
            "total_count": 3,
            "total_pages": 1
          },
          "success": true
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: ""
