---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      X-Stainless-Arch:
      - arm64
      X-Stainless-Lang:
      - go
      X-Stainless-Os:
      - MacOS
      X-Stainless-Package-Version:
      - 4.0.0
      X-Stainless-Retry-Count:
      - "0"
      X-Stainless-Runtime:
      - go
      X-Stainless-Runtime-Version:
      - go1.23.5
    url: https://api.cloudflare.com/client/v4/user
    method: GET
  response:
    body: |
      {
        "errors": [],
        "messages": [],
        "result": {
          "betas": [
            "zone_level_access_beta"
          ],
          "country": "US",
          "created_on": "2024-08-19T19:21:39.179578Z",
          "email": "johndoe@cloudflare.com",
          "first_name": "john",
          "has_business_zones": false,
          "has_enterprise_zones": true,
          "has_pro_zones": false,
          "id": "e1f5b6cf650a61b94721860e208f9112",
          "last_name": "doe",
          "modified_on": "2024-10-03T17:19:28.158824Z",
          "organizations": [
            {
              "id": "d781e89412e1965584dc2a65a43b7fce",
              "name": "Foo Team Production",
              "permissions": [               
                "#teams:read",
                "#turnstile:read",
                "#vectorize:read",
                "#waf:read",
                "#waitingroom:read",
                "#webhooks:read",
                "#worker:read",
                "#zaraz:read",
                "#zone:read",
                "#zone_settings:read",
                "#zone_versioning:read"
              ],
              "roles": [
                "Administrator Read Only"
              ],
              "status": "member"
            },
            {
              "id": "d98242917a12ae74b03c3e3058dbacbd",
              "name": "Foo Team Staging",
              "permissions": [
                "#access:read",
                "#analytics:read",
                "#api_gateway:read",
                "#auditlogs:read",
                "#billing:read",
                "#blocks:read",
                "#cds_compute_account:read",
                "#cds:read",
                "#ces_analytics:read",
                "#ces_integration:read",
                "#ces_phishguard:read",
                "#ces_search:read",
                "#ces_settings:read",
                "#cfone:read",
                "#dex:read",
                "#dns_records:read",
                "#fbm:read",
                "#healthchecks:read",
                "#http_applications:read",
                "#image:read",
                "#integration:read",
                "#lb:read"
              ],
              "roles": [
                "Administrator Read Only"
              ],
              "status": "member"
            },
            {
              "id": "f037e56e89293a057740de681ac9abbe",
              "name": "Testing",
              "permissions": null,
              "roles": null,
              "status": "member"
            }
          ],
          "suspended": false,
          "telephone": "+1234567890",
          "two_factor_authentication_enabled": false,
          "two_factor_authentication_locked": true,
          "username": "9cef13f8a5298eac2ac8221ee4f0c855",
          "zipcode": "1234"
        },
        "success": true
      }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
