---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        X-Stainless-Arch:
          - arm64
        X-Stainless-Lang:
          - go
        X-Stainless-Os:
          - MacOS
        X-Stainless-Package-Version:
          - 4.1.0
        X-Stainless-Retry-Count:
          - "0"
        X-Stainless-Runtime:
          - go
        X-Stainless-Runtime-Version:
          - go1.24.0
      url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/queues
      method: GET
    response:
      body: |
        {
          "errors": null,
          "messages": null,
          "result": [
            {
              "consumers": [],
              "consumers_total_count": 0,
              "created_on": "2025-03-13T18:14:27.307048Z",
              "modified_on": "2025-03-13T18:14:27.307048Z",
              "producers": [],
              "producers_total_count": 0,
              "queue_id": "5c03bec8d113492ba229a671f22235dd",
              "queue_name": "test-q",
              "settings": {
                "delivery_delay": 0,
                "message_retention_period": 345600
              }
            }
          ],
          "result_info": {
            "count": 1,
            "page": 1,
            "per_page": 100,
            "total_count": 1,
            "total_pages": 1
          },
          "success": true
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: ""
