---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        X-Stainless-Arch:
          - arm64
        X-Stainless-Lang:
          - go
        X-Stainless-Os:
          - MacOS
        X-Stainless-Package-Version:
          - 4.1.0
        X-Stainless-Retry-Count:
          - "0"
        X-Stainless-Runtime:
          - go
        X-Stainless-Runtime-Version:
          - go1.24.0
      url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/stream/webhook
      method: GET
    response:
      body: |
        {
          "errors": [],
          "messages": [],
          "result": {
            "modified": "2025-03-13T16:37:10.369168Z",
            "notificationUrl": "https://example.com",
            "notification_url": "https://example.com",
            "secret": "88ff5e0c66e3ce35e36e036a6895213dbad339fb"
          },
          "success": true
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: ""
