---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/rate_limits
    method: GET
  response:
    body: |
      {
        "result": [
          {
            "id": "d1c583263ce0424aac2d9cbed358fe5c",
            "disabled": false,
            "description": "example rate limit",
            "match": {
              "request": {
                "methods": [
                  "POST"
                ],
                "schemes": [
                  "_ALL_"
                ],
                "url": "example.com"
              },
              "response": {
                "status": [
                  401,
                  403
                ],
                "origin_traffic": false,
                "headers": [
                  {
                    "name": "My_origin_field",
                    "op": "eq",
                    "value": "block_request"
                  }
                ]
              }
            },
            "bypass": [
              {
                "name": "url",
                "value": "example.com/allowed-bypass"
              }
            ],
            "login_protect": false,
            "threshold": 10,
            "period": 60,
            "action": {
              "mode": "ban",
              "timeout": 3600,
              "response": {
                "content_type": "application/json",
                "body": "{\"response\":\"your request has been rate limited\"}"
              }
            }
          }
        ],
        "success": true,
        "errors": [],
        "messages": [],
        "result_info": {
          "page": 1,
          "per_page": 25,
          "count": 1,
          "total_count": 1,
          "total_pages": 1
        }
      }

    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
