---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/rulesets
      method: GET
    response:
      body: |
        {
          "result": [
            {
              "id": "a6905ff86d3844cebc1a88dd80c659e7",
              "name": "Bot Fight Mode for Likely Bots",
              "description": "",
              "source": "firewall_managed",
              "kind": "managed",
              "version": "4",
              "last_updated": "2021-07-01T16:59:14.386598Z",
              "phase": "http_request_firewall_managed"
            },
            {
              "id": "48ba18287c544bd7bdbe842a294f1ae2",
              "name": "Bot Fight Mode for Definite Bots",
              "description": "",
              "source": "firewall_managed",
              "kind": "managed",
              "version": "4",
              "last_updated": "2021-07-01T16:59:17.970712Z",
              "phase": "http_request_firewall_managed"
            },
            {
              "id": "4c971a697dd2499394[...]
  - request:
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/rulesets/4c971a697dd249939460f4520dcd7184
      method: GET
    response:
      body: |
        {
          "result": {
            "id": "4c971a697dd249939460f4520dcd7184",
            "name": "zone",
            "description": "",
            "source": "firewall_managed",
            "kind": "zone",
            "version": "2",
            "rules": [
              {
                "action": "execute",
                "action_parameters": {
                  "id": "efb7b8c949ac4650a09736fc376e9aee",
                  "version": "latest",
                  "overrides": {
                    "rules": [
                      {
                        "id": "5de7edfa648c4d6891dc3e7f84534ffa",
                        "action": "block"
                      },
                      {
                        "id": "d52aa57408a144afa35e0fd96e3897dc",
                        "action": "block"
                      },
                      {
                        "id": "7994335d116849f7a0ab6b771d1d0db7",
                        "action": "block"
                    [...]
