---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/firewall/lockdowns?page=1&per_page=50
    method: GET
  response:
    body: |
      {
        "success": true,
        "errors": [],
        "messages": [],
        "result": [
          {
            "id": "372e67954025e0ba6aaa6d586b9e0b59",
            "created_on": "2014-01-01T05:20:00.12345Z",
            "modified_on": "2014-01-01T05:20:00.12345Z",
            "paused": false,
            "description": "Restrict access to these endpoints to requests from a known IP address",
            "urls": [
              "api.mysite.com/some/endpoint*"
            ],
            "configurations": [
              {
                "target": "ip",
                "value": "198.51.100.4"
              }
            ]
          }
        ],
        "result_info": {
          "page": 1,
          "per_page": 50,
          "count": 1,
          "total_count": 1,
          "total_pages": 1
        }
      }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
