---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711
    method: GET
  response:
    body: |
      {
        "result": {
          "id": "0da42c8d2132a9ddaf714f9e7c920711",
          "name": "example.com",
          "status": "active",
          "paused": false,
          "type": "full",
          "development_mode": 0,
          "name_servers": [
            "amy.ns.cloudflare.com",
            "mark.ns.cloudflare.com"
          ],
          "original_name_servers": [
            "abby.ns.cloudflare.com",
            "noel.ns.cloudflare.com"
          ],
          "original_registrar": "namecheap, inc. (id: 1068)",
          "original_dnshost": null,
          "modified_on": "2024-06-06T07:48:29.003893Z",
          "created_on": "2021-07-21T03:44:16.375808Z",
          "activated_on": "2021-07-21T03:58:43.615595Z",
          "plan": {
            "id": "0feeeeeeeeeeeeeeeeeeeeeeeeeeeeee",
            "name": "Free Website",
            "price": 0,
            "currency": "USD",
            "frequency": "",
            "is_subscribed": false,
            "can_subscribe": false,
            "legacy_id": "free",
            "legacy_discount": false,
            "externally_managed": false
          }
        },
        "success": true,
        "errors": [],
        "messages": []
      }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/dns_records?page=1&per_page=100
    method: GET
  response:
    body: |
      {
        "result": [
          {
            "id": "7df6f2a4ff66e0ffd1e2d640cad0527f",
            "name": "example.com",
            "type": "A",
            "content": "198.51.100.4",
            "proxiable": true,
            "proxied": false,
            "ttl": 120,
            "locked": false,
            "meta": {
              "auto_added": false,
              "managed_by_apps": false,
              "managed_by_argo_tunnel": false,
              "source": "primary"
            },
            "comment": null,
            "tags": [],
            "created_on": "2023-01-08T23:39:12.402126Z",
            "modified_on": "2023-01-08T23:39:12.402126Z"
          }
        ],
        "success": true,
        "errors": [],
        "messages": [],
        "result_info": {
          "page": 1,
          "per_page": 50,
          "count": 1,
          "total_count": 1,
          "total_pages": 1
        }
      }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
