---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/cfd_tunnel?is_deleted=false&page=1&per_page=100
    method: GET
  response:
    body: |
      {
        "success": true,
        "errors": [],
        "messages": [],
        "result": [
          {
            "id": "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
            "name": "blog",
            "created_at": "2009-11-10T23:00:00Z",
            "deleted_at": "2009-11-10T23:00:00Z",
            "connections": [
              {
                "colo_name": "DFW",
                "uuid": "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
                "is_pending_reconnect": false
              }
            ]
          }
        ]
      }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/cfd_tunnel/f174e90a-fafe-4643-bbbc-4a0ed4fc8415/token
    method: GET
  response:
    body: |
      {
        "success": true,
        "errors": [],
        "messages": [],
        "result": "AQIDBAUGBwgBAgMEBQYHCAECAwQFBgcIAQIDBAUGBwg="
      }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
