---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudflare.com/client/v4/zones?per_page=50
    method: GET
  response:
    body: |
      {
        "success": true,
        "errors": [],
        "messages": [],
        "result": [
          {
            "id": "023e105f4ecef8ad9ca31a8372d0c353",
            "name": "example.com",
            "development_mode": 7200,
            "original_name_servers": [
              "ns1.originaldnshost.com",
              "ns2.originaldnshost.com"
            ],
            "original_registrar": "GoDaddy",
            "original_dnshost": "NameCheap",
            "created_on": "2014-01-01T05:20:00.12345Z",
            "modified_on": "2014-01-01T05:20:00.12345Z",
            "activated_on": "2014-01-02T00:01:00.12345Z",
            "owner": {
              "id": "ba33f46d87652a7f0bedebc33fcd01d9",
              "type": "user",
              "email": "example@example.com"
            },
            "account": {
              "id": "01a7362d577a6c3019a474fd6f485823",
              "name": "Demo Account"
            },
            "permissions": [
              "#zone:read",
              "#zone:edit"
            ],
            "plan": {
              "id": "e592fd9519420ba7405e1307bff33214",
              "name": "Pro Plan",
              "price": 20,
              "currency": "USD",
              "frequency": "monthly",
              "legacy_id": "pro",
              "is_subscribed": true,
              "can_subscribe": true
            },
            "plan_pending": {
              "id": "e592fd9519420ba7405e1307bff33214",
              "name": "Pro Plan",
              "price": 20,
              "currency": "USD",
              "frequency": "monthly",
              "legacy_id": "pro",
              "is_subscribed": true,
              "can_subscribe": true
            },
            "status": "active",
            "paused": false,
            "type": "full",
            "name_servers": [
              "tony.ns.cloudflare.com",
              "woz.ns.cloudflare.com"
            ]
          }
        ]
      }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
