---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/dns_records?Priority=&page=1&per_page=50
    method: GET
  response:
    body: |
      {
        "result": [
          {
            "id": "7df6f2a4ff66e0ffd1e2d640cad0527f",
            "zone_id": "0da42c8d2132a9ddaf714f9e7c920711",
            "zone_name": "example.com",
            "name": "example.com",
            "type": "A",
            "content": "198.51.100.4",
            "proxiable": true,
            "proxied": false,
            "ttl": 120,
            "locked": false,
            "meta": {
              "auto_added": false,
              "managed_by_apps": false,
              "managed_by_argo_tunnel": false,
              "source": "primary"
            },
            "comment": null,
            "tags": [],
            "created_on": "2023-01-08T23:39:12.402126Z",
            "modified_on": "2023-01-08T23:39:12.402126Z"
          }
        ],
        "success": true,
        "errors": [],
        "messages": [],
        "result_info": {
          "page": 1,
          "per_page": 50,
          "count": 1,
          "total_count": 1,
          "total_pages": 1
        }
      }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
