---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudflare.com/client/v4/zones/f037e56e89293a057740de681ac9abbe/gateway/lists
    method: GET
  response:
    body: |
      {
        "errors": [],
        "messages": [],
        "result": [
          {
            "count": 1,
            "created_at": "2014-01-01T05:20:00.12345Z",
            "description": "The serial numbers for administrators",
            "id": "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
            "name": "Admin Serial Numbers",
            "type": "SERIAL",
            "updated_at": "2014-01-01T05:20:00.12345Z"
          }
        ],
        "success": true,
        "result_info": {
          "count": 1,
          "page": 1,
          "per_page": 20,
          "total_count": 2000
        }
      }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudflare.com/client/v4/zones/f037e56e89293a057740de681ac9abbe/gateway/lists/f174e90a-fafe-4643-bbbc-4a0ed4fc8415/items
    method: GET
  response:
    body: |
      {
        "errors": [],
        "messages": [],
        "result": [
          [
            {
              "created_at": "2014-01-01T05:20:00.12345Z",
              "value": "8GE8721REF"
            }
          ]
        ],
        "success": true,
        "result_info": {
          "count": 1,
          "page": 1,
          "per_page": 20,
          "total_count": 2000
        }
      }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""