---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/pagerules
    method: GET
  response:
    body: |
      {
        "success": true,
        "errors": [],
        "messages": [],
        "result": [
          {
            "id": "9a7806061c88ada191ed06f989cc3dac",
            "targets": [
              {
                "target": "url",
                "constraint": {
                  "operator": "matches",
                  "value": "*example.com/images/*"
                }
              }
            ],
            "actions": [
              {
                "id": "always_online",
                "value": "on"
              },
              {
                "id": "minify",
                "value": {
                  "html": "on",
                  "css": "on",
                  "js": "off"
                }
              }
            ],
            "priority": 1,
            "status": "active",
            "modified_on": "2014-01-01T05:20:00.12345Z",
            "created_on": "2014-01-01T05:20:00.12345Z"
          }
        ]
      }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""