---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/rulesets
    method: GET
  response:
    body: |
      {
        "result": [
          {
            "id": "a6905ff86d3844cebc1a88dd80c659e7",
            "name": "Bot Fight Mode for Likely Bots",
            "description": "",
            "source": "firewall_managed",
            "kind": "managed",
            "version": "4",
            "last_updated": "2021-07-01T16:59:14.386598Z",
            "phase": "http_request_firewall_managed"
          },
          {
            "id": "48ba18287c544bd7bdbe842a294f1ae2",
            "name": "Bot Fight Mode for Definite Bots",
            "description": "",
            "source": "firewall_managed",
            "kind": "managed",
            "version": "4",
            "last_updated": "2021-07-01T16:59:17.970712Z",
            "phase": "http_request_firewall_managed"
          },
          {
            "id": "4c971a697dd249939460f4520dcd7184",
         [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudflare.com/client/v4/zones/0da42c8d2132a9ddaf714f9e7c920711/rulesets/4c971a697dd249939460f4520dcd7184
    method: GET
  response:
    body: |
      {
        "result": {
          "id": "4c971a697dd249939460f4520dcd7184",
          "name": "zone",
          "description": "",
          "source": "firewall_managed",
          "kind": "zone",
          "version": "2",
          "rules": [
            {
              "action": "execute",
              "action_parameters": {
                "id": "efb7b8c949ac4650a09736fc376e9aee",
                "version": "latest",
                "overrides": {
                  "action": "log",
                  "enabled": false,
                  "categories": [
                    {
                      "category": "paranoia-level-2",
                      "enabled": false
                    }
                  ],
                  "rules": [
                    {
                      "id": "6179ae15870a4bb7b2d480d4843b323c",
                      "enabled": false
                    }
                  ]
                }
              },
              "expression": "(http.cookie eq \"jb_testing=true\")",
              "description": "zone",
              "last_updated": "2021-09-03T06:42:41.341405Z",
              "enabled": false
            }
          ],
          "last_updated": "2021-09-03T06:42:41.341405Z",
          "phase": "http_request_firewall_managed"
        },
        "success": true,
        "errors": [],
        "messages": []
      }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
