name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'
      - name: Set release VERSION
        run: echo "VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VERSION: ${{ env.VERSION }}

      # only attempt to bump the cask if the release was successful
      - name: Bump cf-terraforming cask in cloudflare/homebrew-cloudflare
        uses: macauley/action-homebrew-bump-cask@v1
        if: steps.build.outcome == 'success'
        with:
          token: ${{ secrets.BUMP_CASK_TOKEN }}
          tap: cloudflare/homebrew-cloudflare
          cask: cf-terraforming
          livecheck: true
          dryrun: false
