on:
  push:
    paths-ignore:
    - 'README.md'
    - 'CHANGELOG.md'
    - 'LICENSE'

name: Test
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.17]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: install go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - name: checkout
        uses: actions/checkout@v2
      - uses: actions/cache@v2.1.3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go${{ matrix.go-version }}-${{ hashFiles('**/go.sum') }}
      - name: golint
        if: matrix.os != 'windows-latest'
        run: |
          go get -v -u golang.org/x/lint/golint
          $(go env GOPATH)/bin/golint -set_exit_status .
      - name: Vet
        run: go vet ./...
      - name: setup Terraform
        uses: hashicorp/setup-terraform@v1
      - name: write Terraform configuration
        run: |
            cat > main.tf <<EOF
            terraform {
              required_providers {
                cloudflare = {
                  source = "cloudflare/cloudflare"
                  version = "~> 3"
                }
              }
            }
            EOF
      - name: terraform init
        run: terraform init
      - name: go test
        env:
            CLOUDFLARE_EMAIL: noone@cloudflare.com
            CLOUDFLARE_API_KEY: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            CLOUDFLARE_TERRAFORM_INSTALL_PATH: ${{ github.workspace }}
        run: make test
